<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サービスTOP</title>
</head>
<body>
    <h2>Rails Blog App</h2>
    <div>
        <a href="/login">ログイン</a>&emsp;
        <a href="/signin">新規登録</a>
    </div>
    <br>
    <div>
        '<b><%= @you %></b>' 様、
    </div>
    <% flash.each do |message_type, message| %>
        <div><%= message %></div>
    <% end %>
    <br>
    <div><a href="/articles">記事一覧</a></div>
    <br>
    <div>
        <a href="/logout">ログアウト</a>&emsp;
        <a href="/signout">アカウント削除</a>
    </div>
</body>
</html>
