.dockerignore
Dockerfile
README.md
railsapp/.gitattributes
railsapp/.gitignore
railsapi/.git
railsapi/.bundle
railsapi/.env*
!railsapi/.env*.erb
railsapi/config/credentials/*.key
railsapi/log/*
railsapi/tmp/*
!railsapi/log/.keep
!railsapi/tmp/.keep
railsapi/tmp/pids/*
!railsapi/tmp/pids/.keep
railsapi/storage/*
!railsapi/storage/.keep
railsapi/tmp/storage/*
!railsapi/tmp/storage/.keep
