<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
</head>
<body>
    <div>
        ユーザー登録
    </div>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <div>
                ※ {{ message[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <br>
    <div>
        <form method="POST">
            <div>
                MAIL <input type="text" name="MAIL" required>
            </div>
            <div>
                PASS <input type="password" name="PASS" required>
            </div>
            <div>
                NAME <input type="text" name="username" required>
            </div>
            <br>
            <div>
                <input type="submit" value="新規登録">
            </div>
        </form>
    </div>
    <br>
    <div>
        <a href="/login">ログイン</a>
    </div>
</body>
</html>
