<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記事一覧</title>
</head>
<body>
    <h2>記事一覧</h2>
    <% @articles.each do |article| %>
        <div>
            <div><b><%= article.title %></b></div>
            <div><%= article.body %></div>
            <% if article.user == @user %>
                <a href="/edit_article?id=<%= article.id %>">編集</a>&emsp;
                <a href="/delete_article?id=<%= article.id %>">削除</a>
            <% end %>
        </div>
        <br>
    <% end %>
    <div>
        <a href="/new_article">新規記事投稿</a>
    </div>
    <br>
    <div>
        <a href="/">TOPページ</a>
    </div>
</body>
</html>
