<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記事投稿</title>
</head>
<body>
    <h2>記事投稿</h2>
    <div>
        <%= form_with url: '/new_article', method: :post do |form| %>
            <div>
                タイトル <%= form.text_field :title, maxlength: 255, required: true %>
            </div>
            <div>
                内容 <%= form.text_field :body, maxlength: 255, required: true %>
            </div>
            <br>
            <div>
                <%= form.submit '新規登録' %>
            </div>
        <% end %>
    </div>
    <br>
    <div>
        <a href="/articles">記事一覧</a>
    </div>
</body>
</html>
