.dockerignore
Dockerfile
README.md
railsapp/.gitattributes
railsapp/.gitignore
railsapp/.git
railsapp/.bundle
railsapp/.env*
!railsapp/.env*.erb
railsapp/config/credentials/*.key
railsapp/log/*
railsapp/tmp/*
!railsapp/log/.keep
!railsapp/tmp/.keep
railsapp/tmp/pids/*
!railsapp/tmp/pids/.keep
railsapp/storage/*
!railsapp/storage/.keep
railsapp/tmp/storage/*
!railsapp/tmp/storage/.keep
