{% extends "layout.html" %}

{% block title %}
    詳細：{{description['name']}}
{% endblock %}

{% block content %}
    <h2>
        詳細：{{description['name']}}
    </h2>
    <div>
        価格：{{description['price']}}円
        <br>
        在庫：{{description['stock']}}点
    </div>
    {% if not description['incart'] %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <br>
            <input type="hidden" name="ITEM" value="{{description['id']}}">
            <div>
                <input type="submit" value="カートに追加">
            </div>
        </form>
    {% endif %}
    <br>
    <div>
        <a href="/items">商品リスト</a>
    </div>
{% endblock %}
