<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Market</title>
    <link rel="icon" href="../static/parts/image/favicon.png">
</head>
<body>
    <h2>Flask Market</h2>
    <div>
        <a href="/login">ログイン</a>
        &emsp;
        <a href="/new_user">ユーザー登録</a>
    </div>
    <br>
    <div>
        <B>'{{yourname}}'</B> 様　※ 7日サイトにアクセスしないとログアウトします
    </div>
    <br>
    <div>
        <a href="/shopping_cart">ショッピングカート</a>
    </div>
    <br>
    <div>
        <a href="/items">商品リスト</a>
    </div>
    <br>
    <div>
        <a href="/new_item">商品登録</a>
    </div>
    <br>
    <div>
        <a href="/update_items">出品アイテム</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/logout">ログアウト</a>
        &emsp;
        <a href="/delete_user">アカウント削除</a>
    </div>
    
</body>
</html>
