{% extends "layout.html" %}

{% block title %}
  Flask Market
{% endblock %}

{% block navbar %}
  <ul class="navbar-nav">
    {% if auth_info['login'] == False %}
      <li class="nav-item active">
        <a type="button" class="btn btn-primary" href="/login">ログイン</a>
      </li>
      <li class="nav-item active">
        <a type="button" class="btn btn-primary ml-2" href="/new_user">ユーザー登録</a>
      </li>
    {% else %}
      <li class="nav-item active">
        <a type="button" class="btn btn-primary" href="/logout">ログアウト</a>
      </li>
      <li class="nav-item active">
        <a type="button" class="btn btn-primary ml-2" href="/delete_user">アカウント削除</a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  {% with message = get_flashed_messages() %}
    {% if message %}
      <div class="alert alert-danger" role="alert">
        {{ message[0] }}
      </div>
    {% endif %}
  {% endwith %}
  {% if auth_info['login'] == True %}
    <div class="ml-3">
      <h4><B>{{auth_info['name']}}</B> 様</h4>
      <div class="text-danger">※ 7日間アクセスが無ければ自動ログアウトします</div>
    </div>
    <br>
  {% endif %}
  <div class="ml-3">
    <a href="/shopping_cart">ショッピングカート</a>
    <br><br>
    <a href="/items">商品リスト</a>
    <br><br>
    <a href="/new_item">商品登録</a>
    <br><br>
    <a href="/update_items">出品アイテム</a>
  </div>
{% endblock %}
