{% extends "layout.html" %}

{% block title %}
    ログイン
{% endblock %}
    
{% block content %}
    <h2>
        ログイン
    </h2>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <div>
                ※ {{ message[0] }}
            </div>
            <br>
        {% endif %}
    {% endwith %}
    <div>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div>
                MAIL <input type="text" name="MAIL" required>
            </div>
            <div>
                PASS <input type="password" name="PASS" required>
            </div>
            <br>
            <div>
                <input type="submit" value="ログイン">
            </div>
        </form>
    </div>
    <br>
    <div>
        <a href="/new_user">ユーザー登録</a>
    </div>
    <br>
    <div>
        <a href="/">TOPページ</a>
    </div>
{% endblock %}
