<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品登録</title>
    <link rel="icon" href="../static/parts/image/favicon.png">
</head>
<body>
    <h2>
        商品登録
    </h2>
    <div>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div>
                NAME <input type="text" name="NAME" required>
            </div>
            <div>
                PRICE <input type="number" name="PRICE" min="0" required>
            </div>
            <div>
                STOCK <input type="number" name="STOCK" min="1" required>
            </div>
            <div>
                TAG <select name="TAG" required>
                        <option value="fish">鮮魚</option>
                        <option value="meat">精肉</option>
                        <option value="vegetable">青果</option>
                        <option value="other">その他</option>
                    </select>
            </div>
            <br>
            <div>
                <input type="submit" value="新規登録">
            </div>
        </form>
    </div>
    <br>
    <div>
        <a href="/">TOPページ</a>
    </div>
</body>
</html>
