{% extends "layout.html" %}

{% block title %}
  詳細：
{% endblock %}

{% block content %}
  <h4>
    詳細：<span class="fw-bolder">[(description['name'])]</span>
  </h4>
  <br>
  <div class="mb-2">
    価格：[(description['price'])]円
  </div>
  <div class="mb-2">
    在庫：[(description['stock'])]点
  </div>
  <div>
    販売者：[(description['seller'])]
  </div>
  <br>
  <form v-if="description['in_basket'] == false" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="item_id" :value="description['item_id']">
    <div>
      <input type="submit" class="btn btn-primary" value="買い物カゴに入れる">
    </div>
  </form>
{% endblock %}

{% block json_data %}
  user_info: {{ resDict|tojson }}['user_info'],
  description: {{ resDict|tojson }}['description']
{% endblock %}

{% block vue_func %}
  changeTitle() {
    document.title = document.title + this.description['name'];
  }
{% endblock %}

{% block vue_mounted %}
  this.changeTitle();
{% endblock %}
